.summary {
  max-width: 40rem;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.summary p {
  margin: 0;
  padding: 10px;
  background-color: #ebb002;
  border-radius: 10px;
  color:rgb(2, 0, 0);
  font-weight: 500;
  width: 20rem;
  text-align: center;
}

.summary span {
  font-weight: 700;
  font-size: 1.1rem;
}